html {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9537037037037037rem + 0.24691358024691357vw,
    1.25rem
  );
}
.viewport-icon svg {
  height: 100%;
  width: 100%;
}

.sample-container {
  font-size: 16px;
  width: 100%;
  position: relative;
  height: 550px;
  overflow-y: auto;
}

.sample {
  max-width: 350px;
  overflow-x: hidden;
  padding-right: 1em;
}

.notification {
  padding-right: 1.5rem;
}

.sample h2 {
  font-size: 2.5em;
}
.sample h3 {
  font-size: 2em;
}
.sample p {
  max-width: 55ch;
}

.sample a {
  font-size: 1em;
}

.avatar {
  height: 3em;
  width: 3em;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar + h3 {
  line-height: 1.2;
}
.user-select-all {
  user-select: all;
}

pre {
  border-radius: 4px;
  border: 1px solid #dbdbdb;
}

.icon-box {
  position: absolute;
  bottom: 8px;
  right: 50%;
  font-size: 16px;
  transform: translateX(50%);
}

.my-slider {
  -webkit-appearance: none;
  width: 100%;
  border: 2px solid green;
  border-radius: 5px;
  /* transform: rotate(270deg); */
}

.my-slider::-webkit-slider-runnable-track {
  background-color: #3f91e5;
  padding: 5px;
}
.my-slider::-webkit-slider-runnable-track:hover {
  background-color: orange;
}

.my-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 40px;
  border-radius: 10%;
  background: pink;
  box-shadow: 2px 2px 1px #000000;
}

.br {
  border-radius: 4px;
}
