html {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9537037037037037rem + 0.24691358024691357vw,
    1.25rem
  );
}
.viewport-icon svg {
  height: 100%;
  width: 100%;
}

.sample-container {
  font-size: 16px;
  max-width: 90ch;
  overflow: hidden;
}
.sample h2 {
  font-size: 2.5em;
}
.sample h3 {
  font-size: 2em;
}
.sample p {
  max-width: 75ch;
}

.avatar {
  height: 2em;
  width: 2em;
  object-fit: cover;
  object-position: top;
}

.user-select-all {
  user-select: all;
}

pre {
  border-radius: 4px;
}

.my-slider {
  -webkit-appearance: none;
  width: 100%;
  border: 2px solid green;
  border-radius: 5px;
  /* transform: rotate(270deg); */
}

.my-slider::-webkit-slider-runnable-track {
  background-color: #3f91e5;
  padding: 5px;
}
.my-slider::-webkit-slider-runnable-track:hover {
  background-color: orange;
}

.my-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 40px;
  border-radius: 10%;
  background: pink;
  box-shadow: 2px 2px 1px #000000;
}

.br {
  border-radius: 4px;
}
